.main-container {
    height: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
    transition: all 0.2s ease-in-out;
}

.box-element {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sign-in-button {
    height: auto;
    width: 192px;
}

@media screen and (max-width: 448px) {
    .card-container {
        height: 100%;
    }
}