.main-container {
    height: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
    transition: all 0.2s ease-in-out;
}

.box-element {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-in-button {
    padding: 0 12px 0 0;
    color: #FFFFFF;
    background-color: #4285F4;
}

@media screen and (max-width: 448px) {
    .card-container {
        height: 100%;
    }
}